@keyframes slideIn {
  0% {
    width: 0;
  }
  100% {
    width: normal;
  }
}

.skills {
  background-image: url(/assets/Header.png);
  padding: 50px 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
  }

  &__container {
    width: 100%;
    max-width: 425px;
  }

  &__skill-bar {
    margin-bottom: 26px;
    display: flex;
    width: 100%;
    font-size: 14px;
  }
}

.skill-bar {
  &__title {
    color: #fff;
    background: #04c2c9;
    text-align: center;
    padding: 5px 15px;
    width: 150px;
    height: 25px;
    font-size: 14px;
  }

  &__container {
    width: 100%;
    max-width: 350px;
    background: #eee;
    overflow: hidden;
    height: 26px;
    position: relative;

    span {
      position: absolute;
      right: 3px;
      bottom: 4px;
    }
  }

  &__value {
    background: #00a1a7;
    height: 26px;
    animation: slideIn 2s;
  }
}
